.dashboard-container {
    max-width: 60%;
    margin: 32px auto;
    padding: 0 16px;
    margin-bottom: 3cm;
}

.dashboard-title {
    text-align: center;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.dashboard-top {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.card-large {
    flex: 2;
    background: #eaeced;
    padding: 1cm;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
}

.card-right-stack {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card-small {
    background: #eaeced;
    padding: 0.5cm;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 100%;
}

.dashboard-bottom {
    display: flex;
    gap: 17px;
    justify-content: center;
}

.dash-card {
    flex: 1;
    background: #eaeced;
    padding: 1cm;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-size: 17px;
    color: #444;
}

.card-number {
    font-size: 26px;
    font-weight: bold;
    color: #222;
}

.dash-card,
.card-large,
.card-small {
    cursor: pointer;
}

.low-stock-section {
    margin: 40px auto;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    width: 80%;
    display: block;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.section-title {
    font-size: 20px;
    margin-bottom: 15px;
    color: #ff4d4f;
    font-weight: bold;
}

.low-stock-table {
    width: 100%;
    border-collapse: collapse;
}

.low-stock-table th,
.low-stock-table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.low-stock-table th {
    background-color: #fafafa;
    color: #555;
}

.low-stock-table tr:hover {
    background-color: #f9f9f9;
}

.low-stock-btn {
    background-color: #d3d3d3;
    border: none;
    color: #333;
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.low-stock-btn:hover {
    background-color: #bfbfbf;
}
