.edit-product-form {
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-family: "Segoe UI", sans-serif;
}

.edit-product-form h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-weight: bold;
}

.edit-product-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edit-product-form label {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.edit-product-form input[type="text"],
.edit-product-form input[type="number"],
.edit-product-form select,
.edit-product-form input[type="file"] {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
    width: 100%;
}

.edit-product-form input:focus,
.edit-product-form select:focus {
    border-color: #007bff;
    outline: none;
    background-color: #fff;
}

.image-preview ,.preview{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-preview-box ,.preview-image{
    position: relative;
    display: inline-block;
    border-radius: 12px;
    padding: 6px;
}

.product-image ,.preview-image{
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    display: block;
}

.delete-image-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 14px;
    width: 22px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    line-height: 22px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.delete-image-btn:hover {
    background: darkred;
}

.btn-update {
    background-color: #535353;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: fit-content;
}

.btn-update:hover {
    background-color: #8f8f8f;
}

