.container {
    max-width: 600px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fdfdfd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    font-family: sans-serif;
}

.container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
}

.container h3 {
    color: #333;
}

.order-info p,
.address-box p {
    margin: 4px 0;
    line-height: 25px;
}

.address-box {
    padding: 12px;
    background-color: #f7f7f7;
    border-radius: 8px;
    margin-top: 10px;
}

.order-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.status-Pending,
.status-Unpaid,
.status-Shipped,
.status-Requested-Cancel{
    color: rgba(205, 205, 57, 0.775);
    font-size: 17px;
}

.status-Completed {
    color: rgba(41, 208, 63, 0.775);
    font-size: 17px;
}

.status-Cancelled {
    color: rgba(255, 0, 0, 0.775);
    font-size: 17px;
}

.order-info strong {
    margin-right: 5px;
}

button {
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    margin-top: 15px;
}

button:hover{
    background-color: #000000;
    color: white;
    transform: scale(1.10);
}

.button:hover {
    background-color: #000000;
    color: white;
    transform: scale(1.10);
}

.button-cancel:hover {
    background-color: #ff9595;
    color: white;
    transform: scale(1.10);
}

.button-payment:hover{
    background-color: #10f7006a;
    color: rgb(255, 255, 255);
    transform: scale(1.10);  
}

.form-container {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background: white;
    text-align: left;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    max-width: 600px;
}

.form-container input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-container input[type="text"]:focus {
    border-color: #070707;
    background-color: #ddd;
    outline: none;
}

.form-button {
    display: inline-block;
}

.form-button:hover {
    background-color: #ff9393;
}

#reasonForm {
    display: none;
}

#formTitle {
    font-size: 25px;
}

.unpaid-button-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
